* {
    box-sizing: border-box;
}

div.drop-menu {
    width: 250px;
	position: relative;
}

input.touch-select {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    border: 1px solid gainsboro;
}

span.drop-touch {
    width: 20px;
    height: 25px;
	position: absolute;
	top: 5px;
    right: 6px;
    cursor: pointer;
    background-image: url('dropDown.png');
    background-size: cover;
}

ul.drop-list {
	width: 100%;
	max-height: 155px;
	padding: 0;
	margin: 0;
	background-color: white;
	border: 1px solid gainsboro;
	position: absolute;
	top: 33px;
	display: none;
	z-index: 999;
	overflow-y: auto;
}

ul.drop-list li {
	height: 34px;
	line-height: 31px;
	padding-left: 8px;
	list-style: none;
	cursor: pointer;
	border-bottom: 1px solid gainsboro;
}

ul.drop-list li:hover {
	background-color: #459cd6;
}